.git
.venv
data/raw
notebooks
tests
documents
stitch
configs
src/training
src/eda
src/evaluation
src/optimizers
src/data/loader.py
src/data/dataset.py
__pycache__
.pytest_cache
torchinductor_*
tmp*
*.pyc
*.ipynb
.gitignore
CLAUDE.md
Dockerfile
.dockerignore
